<div class="row justify-content-between align-items-center mb-4">
    <!-- Columna para la imagen y el texto -->
    <div class="col-auto d-flex align-items-center ms-5">
        <img src="https://cdn-icons-png.freepik.com/512/5759/5759940.png?ga=GA1.1.378508795.1727907287" alt="Admin" style="width: 50px; height: 50px; margin-right: 10px;">
        <span class="fw-bold">Agente</span>
    </div>

    <!-- Columna para el botón alineado a la derecha -->
    <div class="col-auto text-end me-5" *ngIf="showBack">
        <button type="button" class="btn btn-primary btn-lg" (click)="showBackOption()">
            Regresar
        </button>
    </div>
</div>

<div class="row justify-content-center mt-5">
    <div class="col-4 col-sx-12 d-flex justify-content-center align-items-center image-container">
        <div class="card" style="width: 18rem;  cursor: pointer;"
        (click)="showManageIncidentComponent()" *ngIf="showMenu">
            <img class="card-img-top" src="https://cdn-icons-png.freepik.com/512/9577/9577437.png" alt="gestionar incidentes">
            <div class="card-body">
                <h5 class="card-title text-center">Gestionar incidentes</h5>
            </div>
        </div>
    </div>
    <div class="col-4 col-sx-12 d-flex justify-content-center align-items-center image-container">
        <div class="card" style="width: 18rem; cursor: pointer;"
        (click)="showControlPanelComponent()" *ngIf="showMenu">
            <img class="card-img-top" src="https://cdn-icons-png.freepik.com/512/14852/14852782.png?ga=GA1.1.1313625746.1728078751" alt="Tablero de control">
            <div class="card-body">
                <h5 class="card-title text-center">Tablero de control</h5>
            </div>
        </div>
    </div>
    <div class="col-4 col-sx-12 d-flex justify-content-center align-items-center image-container">
        <div class="card" style="width: 18rem; cursor: pointer;"
        (click)="showIndicatorsComponent()" *ngIf="showMenu">
            <img class="card-img-top" src="https://cdn-icons-png.freepik.com/512/16316/16316405.png?ga=GA1.1.1313625746.1728078751" alt="Indicadores">
            <div class="card-body">
                <h5 class="card-title text-center">Indicadores</h5>
            </div>
        </div>
    </div>
</div>


<app-manage-incident *ngIf="showManageIncident" />
<app-control-panel *ngIf="showControlPanel" />
<app-indicators *ngIf="showIndicators" />