<div class="container mt-4">
  <h2 class="text-center">Número de incidentes en los últimos 30 días</h2>

  <div class="row">
    <div class="card-group">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Abiertas</h5>
          <p class="card-text">{{totalIncidentsOpen}}</p>
          <p class="card-text"><small class="text-muted">Número de incidencias por procesar</small></p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Cerradas</h5>
          <p class="card-text">{{totalIncidentsClose}}</p>
          <p class="card-text"><small class="text-muted">Número de incidencias procesadas</small></p>
        </div>
      </div>
    </div>

  </div>
  
</div>